*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url("/IMG/funfo2.avif");
    
}

.favoritar{
    display: grid;
    background-color: #ff4848;
    border-radius: 0 0 5px 5px;
    justify-content: center;
    margin: 7%;
}

.btn btn-outline-success{
    background-color: #fff!important;
}

.card_body>h5{
    color: #F23A29;
}

.container-fluid>ul,li{
    color: #fff!important;
}

.container-fluid{
    background-color: #6DA69B!important;
    padding: 3%;
    margin:0.001%;
    border-radius: 15px;
    color:#fff;
}

ul>a:hover{
    background-color: #300000!important;
}

.navbar-toggler{
    color: #ff4848!important;;
}

.favoritar>button{
    display: inline-block;
    border: none;
    background: none;
    cursor: pointer;
}

.card{
    min-width: 9rem;
    max-width: 10.5rem;
    
}

.cardTitle{
    text-align: center;
}

.itens{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.btn_prim{
    align-items: center;
    text-decoration: none;
}

.cat , .ano , .sug{
    flex-grow: 1;
}

#lista_filmes{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 3rem;
    gap: 10px;
    
}